# Enable Swift 5.5 features
--swiftversion 5.5
#
#  Indentation
#
--indent 2
--indentcase false
--indentstrings false
--tabwidth unspecified
--smarttabs enabled
--ifdef indent
--xcodeindentation disabled

#
#  Reviewed
#
--acronyms ID,URL,UUID
--allman false
--elseposition same-line
--guardelse auto
--emptybraces no-space
--enumnamespaces always
--extensionacl on-declarations
--header ignore
--generictypes 
--patternlet hoist
--linebreaks lf

--markextensions always
--marktypes always
--extensionmark "MARK: - %t + %c"
--groupedextension "MARK: %c"
--typemark "MARK: - %t"

--modifierorder 


--decimalgrouping none
--binarygrouping none
--octalgrouping none
--hexgrouping none
--fractiongrouping disabled
--exponentgrouping disabled
--hexliteralcase uppercase
--exponentcase lowercase

--someAny true

--markcategories true
--categorymark "MARK: %c"
--beforemarks 
--lifecycle 
--organizetypes actor,class,enum,struct
--structthreshold 0
--classthreshold 0
--enumthreshold 0
--extensionlength 0

# My set
#
#
--disable andOperator,blockComments,docComments

--enable anyObjectProtocol,assertionFailures,blankLineAfterImports,blankLinesAroundMark,blankLinesAtEndOfScope,blankLinesAtStartOfScope,blankLinesBetweenImports,blankLinesBetweenScopes,consecutiveBlankLines,consecutiveSpaces,duplicateImports,initCoderUnavailable,isEmpty,leadingDelimiters,linebreakAtEndOfFile,preferDouble

# defaults
--assetliterals visual-width
--closingparen same-line
--closurevoid remove
--commas always
--conflictmarkers reject
--fragment false
--funcattributes preserve
--importgrouping alpha
--lineaftermarks true
--maxwidth none
--nevertrailing 
--nospaceoperators 
--nowrapoperators 
--operatorfunc spaced
--ranges spaced
--redundanttype infer-locals-only
--self remove
--selfrequired 
--semicolons never
--shortoptionals always
--stripunusedargs closure-only
--trailingclosures 
--trimwhitespace always
--typeattributes preserve
--typeblanklines remove
--varattributes preserve
--voidtype void
--wraparguments preserve
--wrapcollections before-first
--wrapconditions preserve
--wrapparameters default
--wrapreturntype preserve
--wrapternary default
--wraptypealiases preserve
--yodaswap always
