---
name: Build Swift Package

on:                          # yamllint disable-line rule:truthy
  schedule:
    - cron: '00 09 * * 6'

  workflow_dispatch:

  push:
    branches-ignore:
      - 'update/**'
      - 'dependabot/**'

env:
  TARGET: 'ColorPopoverWell_ColorPopoverWell'
  EXTENSION: '.bundle'

jobs:
  build:

    runs-on:
      - self-hosted

    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Build
        run: $HOME/github/bin/build_SwiftPackage.sh

      - name: Mark Completed
        run: touch  ${{ runner.temp }}/Green

